<div id="inicio">

  <div class="t-cover" style="height:100vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777);">

  	<div class="t-cover__carrier" style="background-image:url('/images/ces_background.jpg');height:100vh; "></div>

    <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(56,53,59,0.60), rgba(56,53,59,0.60));background-image: -webkit-linear-gradient(top, rgba(56,53,59,0.60), rgba(56,53,59,0.60));background-image: -o-linear-gradient(top, rgba(56,53,59,0.60), rgba(56,53,59,0.60));background-image: -ms-linear-gradient(top, rgba(56,53,59,0.60), rgba(56,53,59,0.60));background-image: linear-gradient(top, rgba(56,53,59,0.60), rgba(56,53,59,0.60));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6638353b', endColorstr='#6638353b');"></div>

    <div class="t184">
    	<div class="t-container t-align_center">
        <div>
          <div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
            <div class="t184__title t-title t-title_xxl t-bkg-opacity"><div><strong>INSCRIPCIONES Y PASES<br>2017</strong></div></div>
          </div>
          <div class="t184__uptitle t-uptitle t-opacity_70 t-bkg-opacity"><div>Consejo de Educación Secundaria</div></div>
        </div>
      </div>
    </div>

    <div class="t-cover__arrow">
      <div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated">
        <div class="t-cover__arrow_mobile">
          <span class="glyphicon glyphicon-chevron-down" style="font-size: 60px;color:#BA143B" id="arrow"></span>
        </div>
      </div>
    </div>

  </div>

  <div class="seccion">
    <div class="row" id="s1">
      <div class="col-md-6">
        <div class="t_linetop"></div>
        <h2>Cursos de Ciclo Básico y 1º de Bachillerato<br><span style="font-size:80%">Plan Reformulación 2006</span></h2>
      </div>
      <div class="col-md-6">
        Quienes cursaron en 2016 en escuelas o liceos públicos tienen inscripción automática en el liceo que les corresponde.
        <br><br>
        <a href="paso1" class="btn btn-primary"><bold>Consultar liceo asignado <span class="glyphicon glyphicon-chevron-right"></span></bold></a>
        <br><br><br>
        Quienes deseen cambiar de liceo y quienes ingresan o reingresan a los liceos públicos en 2017 deben reservar cupo y agendar día y hora para ser atendidos en el liceo donde desean asistir.
        <br><br>
        <a href="paso1" class="btn btn-primary"><bold>Iniciar reserva de cupo <span class="glyphicon glyphicon-chevron-right"></span></bold></a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="t_linetop"></div>
        <h2>Cursos 2º y 3º de Bachillerato<br><span style="font-size:80%">Plan Reformulación 2006</span></h2>
      </div>
      <div class="col-md-6">
        Quienes cursaron en 2016 en liceos públicos, se inscriben y solicitan pase en el último liceo donde fueron inscriptos.
        <br><br>
        Quienes ingresan o reingresan a los liceos públicos en el 2017 y desean cursar en Montevideo o Maldonado
        deben dirigirse a la Reguladora de Inscripción Liceal correspondiente. En otros departamentos las inscripciones y
        solicitudes de pase se realizan directamente en el liceo al cual quieren asistir.
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="t_linetop"></div>
        <h2>Otros planes de estudio<br><span style="font-size:80%">Plan 1994, Plan 1996 EE, Plan 2009, Plan 2012, Plan 2013, Propuesta 2016</span></h2>
      </div>
      <div class="col-md-6">
        En Montevideo y Maldonado deben dirigirse a la Reguladora de Inscripción Liceal correspondiente.<br>
        En otros departamentos las inscripciones y solicitudes de pase se realizan directamente en el liceo al cual quieren asistir.
      </div>
    </div>

  </div>
  <div class="pie">
    <p>Vías de contacto:</p>
    <ul style="list-style-type:none;">
      <li>— Sitio web institucional: <a href="http://www.ces.ed.uy">www.ces.edu.uy</a>
      <li>— Correo electrónico:
        <script type="text/javascript">document.write("inscripcion");document.write("es")</script>@ces.edu.uy</li>
      <li>— Teléfonos:
        <div style="margin-left:5em">
          Dirección de Gestión y Soporte a la Enseñanza: 2916 3900  int 173<br>
          Oficina Reguladora de Montevideo: 2903 2788<br>
          Oficina Reguladora de Maldonado: <br>
        </div>
      </li>
    </ul>
  </div>

</div>
