<!DOCTYPE html>
<html>
  <head>
    <title>Inscripciones y Pases</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/node/pases/min/production.min.css?v=1486075562056">
    <!--STYLES END-->
  </head>

  <body>
    <div id="encabezado">
      <a href="http://www.ces.edu.uy/">
        <img src="http://www.ces.edu.uy/templates/ces-index/images/logo_ces.png" alt="Consejo de Educación Secundaria">
      </a>
    </div>

    <%- body %>

    <div id="pie" class="hidden-print">
      <p>Vías de contacto:</p>
      <ul style="list-style-type:none;">
        <li>— Sitio web institucional: <a href="http://www.ces.ed.uy">www.ces.edu.uy</a>
        <li>— Correo electrónico:
          <script type="text/javascript">document.write("inscripcion");document.write("es")</script>@ces.edu.uy</li>
        <li>— Teléfonos:
          <div style="margin-left:5em">
            Dirección de Gestión y Soporte a la Enseñanza: 2916 3900  int 173<br>
            Oficina Reguladora de Montevideo: 2903 2788<br>
            Oficina Reguladora de Maldonado: <br>
            Mesa de ayuda de informática: 2908 9880<br>
          </div>
        </li>
      </ul>
    </div>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/node/pases/min/production.min.js?v=1486075561920"></script>
    <!--SCRIPTS END-->
  </body>
</html>
