<!DOCTYPE html>
<html>
  <head>
    <% if (sails.config.environment != 'development') { %><base href="/node/pases/index"><% } %>
    <title>Inscripciones y Pases</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/zz-ie10-viewport-bug-workaround.css">
    <!--STYLES END-->
  </head>

  <body>
    <div id="encabezado">
      <a href="http://www.ces.edu.uy/">
        <img src="http://www.ces.edu.uy/templates/ces-index/images/logo_ces.png" alt="Consejo de Educación Secundaria">
      </a>
    </div>

    <%- body %>

    <div id="pie" class="hidden-print">
      <p>Vías de contacto:</p>
      <ul style="list-style-type:none;">
        <li>— Sitio web institucional: <a href="http://www.ces.ed.uy">www.ces.edu.uy</a>
        <li>— Correo electrónico:
          <script type="text/javascript">document.write("inscripcion");document.write("es")</script>@ces.edu.uy</li>
        <li>— Teléfonos:
          <div style="margin-left:5em">
            Dirección de Gestión y Soporte a la Enseñanza: 2916 3900  int 173<br>
            Oficina Reguladora de Montevideo: 2903 2788<br>
            Oficina Reguladora de Maldonado: <br>
            Mesa de ayuda de informática: 2908 9880<br>
          </div>
        </li>
      </ul>
    </div>
    <!--TEMPLATES-->

    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/0_jquery/jquery.min.js"></script>
    <script src="/js/dependencies/1_bootstrap/bootstrap.min.js"></script>
    <script src="/js/dependencies/2_bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/js/dependencies/2_bootstrap-datepicker/z-bootstrap-datepicker.es.min.js"></script>
    <script src="/js/form.js"></script>
    <script src="/js/zz_ie10-viewport-bug-workaround.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
