<div class="panel panel-default">
  <div class="panel-heading">
    Identificación del alumno
  </div>
  <div class="panel-body form-horizontal">

    <div class="form-group">
      <label for="pais" class="col-sm-2 control-label">País:</label>
      <div class="dropdown col-sm-2">
        <input type="hidden" name="pais" value="UY" id="dd-pais">
        <button class="btn btn-default dropdown-toggle" type="button" id="btn-dd-pais" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="btn-dd-pais" dd="pais">
          <li><a href="#" dd="pais" data="AR">Argentina</a></li>
          <li><a href="#" dd="pais" data="BR">Brasil</a></li>
          <li><a href="#" dd="pais" data="PY">Paraguay</a></li>
          <li><a href="#" dd="pais" data="UY">Uruguay</a></li>
          <li><a href="#" dd="pais" data="VZ">Venezuela</a></li>
          <li role="separator" class="divider"></li>
          <% paises.forEach(function(info) { -%>
            <li><a href="#" dd="pais" data="<%= info.PaisCod %>"><%= info.PaisNom %></a></li>
          <% }) %>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="doccod" class="col-sm-2 control-label">Tipo de documento:</label>
      <div class="dropdown col-sm-2">
        <input type="hidden" name="doccod" value="CI" id="dd-doccod">
        <button class="btn btn-default dropdown-toggle" type="button" id="btn-dd-doccod" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="btn-dd-doccod" dd="doccod">
          <li><a href="#" dd="doccod" data="CI">Cédula de identidad</a></li>
          <li><a href="#" dd="doccod" data="PSP">Pasaporte</a></li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="perdocid" class="col-sm-2 control-label">Número de documento:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="perdocid" name="perdocid" placeholder="12345678"<% if (perdocid){ %> value="<%= perdocid %>"<% } %>>
      </div>
      <label style="font-weight:normal;padding-top:0.5em" aria-label-for="perdocid">Sólo los números y las letras del número de documento</label>
    </div>

  </div>
</div>
