<div id="paso6" class="paso">
  <div id="content">

    <h2>La entrevista en el nuevo liceo quedó agendada</h2>

    <div class="panel panel-default">
      <div class="panel-heading">Liceo seleccionado: </div>
      <div class="panel-body">

        <%- partial ('liceo.ejs') %>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Entrevista en el liceo seleccionado: </div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <td><label>Fecha</label>:</td>
            <td><ul><li><%= fecha %></li></ul></td>
          </tr><tr>
            <td><label>Hora</label>:</td>
            <td><ul><li><%= hora %></li></ul></td>
          </tr><tr>
            <td><label>Documentación del alumno</label>:</td>
            <td>
              <ul>
                <li>Cédula de identidad</li>
                <li>Carné de Salud Adolescente</li>
              </ul>
            </td>
          </tr><tr>
            <td><label>Documentación del adulto</label>:</td>
            <td>
              <ul>
                <li>Cédula de identidad</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <button type="button" class="btn btn-primary">Imprimir comprobante</button>
  </div>
</div>
