<div id="paso5" class="paso">
  <div id="content">

    <h2>Solicitar entrevista en el nuevo liceo</h2>

    <div class="panel panel-default">
      <div class="panel-heading">Seleccionar día para la entrevista: </div>
      <div class="panel-body">

        <%- partial ('fecha.ejs') %>

      </div>
    </div>

  </div>
</div>
