<div id="paso3" class="paso">
  <div id="content">

    <h2>Solicitar cambio de liceo</h2>

    <form method="post" class0="form-horizontal" id="frm-paso3" action='paso4'>

      <div class="panel panel-default">
        <div class="panel-heading">Seleccionar nuevo liceo:</div>
        <div class="panel-body">

          <table class="table">
            <tr><td class="col-sm-2">
              <label>Departamento</label>:
            </td><td>
              <div class="btn-group">
                <input type="hidden" name="departamento" value="<% if (typeof departamento !== 'undefined') { %><%= departamento %><% } %>" id="dd-departamento">
                <button type="button" id="btn-dd-departamento" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccione un departamento <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" dd="departamento" data="1">Artigas</a></li>
                  <li><a href="#" dd="departamento" data="2">Canelones</a></li>
                  <li><a href="#" dd="departamento" data="3">Cerro Largo</a></li>
                  <li><a href="#" dd="departamento" data="4">Colonia</a></li>
                  <li><a href="#" dd="departamento" data="5">Durazno</a></li>
                  <li><a href="#" dd="departamento" data="6">Flores</a></li>
                  <li><a href="#" dd="departamento" data="7">Florida</a></li>
                  <li><a href="#" dd="departamento" data="8">Lavalleja</a></li>
                  <li><a href="#" dd="departamento" data="9">Maldonado</a></li>
                  <li><a href="#" dd="departamento" data="10">Montevideo</a></li>
                  <li><a href="#" dd="departamento" data="11">Paysandú</a></li>
                  <li><a href="#" dd="departamento" data="12">Río Negro</a></li>
                  <li><a href="#" dd="departamento" data="13">Rivera</a></li>
                  <li><a href="#" dd="departamento" data="14">Rocha</a></li>
                  <li><a href="#" dd="departamento" data="15">Salto</a></li>
                  <li><a href="#" dd="departamento" data="16">San José</a></li>
                  <li><a href="#" dd="departamento" data="17">Soriano</a></li>
                  <li><a href="#" dd="departamento" data="18">Tacuarembó</a></li>
                  <li><a href="#" dd="departamento" data="19">Treinta y Tres</a></li>
                </ul>
              </div>
            </td></tr><tr><td>

              <label>Localidad</label>:
            </td><td>
              <div class="btn-group">
                <input type="hidden" name="localidad" value="<% if (typeof localidad !== 'undefined') { %><%= localidad %><% } %>" id="dd-localidad">
                <button type="button" id="btn-dd-localidad" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccione una localidad <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="ul-dd-localidad">
                  <li><a href="#" dd="localidad" data="1">Montevideo</a></li>
                </ul>
              </div>
            </td></tr>
          </table>

        </div>
      </div>

      <button type="submit" class="btn btn-primary" id="btn-back" name="paso2"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Atrás</button>
      <button type="submit" class="btn btn-primary" id="btn-paso4">Buscar liceos <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>

      <div class="alert alert-danger" id="mensaje" style="display:none"></div>
      <script type="text/javascript">
        textoMensaje='<% if (typeof mensaje!=='undefined') { %><%= mensaje %><% } %>'
      </script>

    </form>
  </div>
</div>
