<div id="paso1">

  <form method="post" class="form-horizontal" id="frm-paso1" action='paso2'>

<%- partial ('alumno.ejs') %>
<%- partial ('adulto.ejs') %>

    <button type="submit" class="btn btn-primary" id="btn-paso1" name="paso1">Siguiente paso <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>

    <div class="alert alert-danger" id="mensaje" style="display:none"><% if (typeof mensaje!=='undefined') { %><%= mensaje %><% } %></div>

  </form>
</div>
