<div id="paso3" class="paso">
  <div id="content">

    <h2>Solicitar cambio de liceo</h2>

    <form method="post" class0="form-horizontal" id="frm-paso3" action='paso4'>

      <div class="panel panel-default">
        <div class="panel-heading">Seleccionar nuevo liceo:</div>
        <div class="panel-body">

          <table class="table">
            <tr><td class="col-sm-2">
              <label>Departamento</label>:
            </td><td>
              <div class="btn-group">
                <input type="hidden" name="departamento" value="" id="depatamento">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccione un departamento <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Artigas</a></li>
                  <li><a href="#">Canelones</a></li>
                  <li><a href="#">Cerro Largo</a></li>
                  <li><a href="#">Colonia</a></li>
                  <li><a href="#">Durazno</a></li>
                  <li><a href="#">Flores</a></li>
                  <li><a href="#">Florida</a></li>
                  <li><a href="#">Lavalleja</a></li>
                  <li><a href="#">Maldonado</a></li>
                  <li><a href="#">Montevideo</a></li>
                  <li><a href="#">Paysandú</a></li>
                  <li><a href="#">Río Negro</a></li>
                  <li><a href="#">Rivera</a></li>
                  <li><a href="#">Rocha</a></li>
                  <li><a href="#">Salto</a></li>
                  <li><a href="#">San José</a></li>
                  <li><a href="#">Soriano</a></li>
                  <li><a href="#">Tacuarembó</a></li>
                  <li><a href="#">Treinta y Tres</a></li>
                </ul>
              </div>
            </td></tr><tr><td>

              <label>Localidad</label>:
            </td><td>
              <div class="btn-group">
                <input type="hidden" name="localidad" value="" id="localidad">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccione una localidad <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Montevideo</a></li>
                </ul>
              </div>
            </td></tr><tr><td>

              <label>Turno</label>:
            </td><td>
              <div class="btn-group">
                <input type="hidden" name="turno" value="D" id="turno">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Diurno <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Diurno</a></li>
                </ul>
              </div>
            </td></tr>
          </table>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Liceos con cupos disponibles: 5</div>
        <div class="panel-body">

          <div class="media">
            <div class="media-left">
                <div class="passepartout">
                  <img class="media-object" id="img-liceo" data="" alt="" height="265">
                </div>
            </div>
            <div class="media-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <h4 class="media-heading"><b>Liceo</b>:
                    <div>
                    </div>
                  </h4>
                </li>
                <li class="list-group-item">
                  <b>Dirección:</b>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" id="btn-paso2" name="paso2"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Atrás</button>
      <button type="submit" class="btn btn-primary" id="btn-paso4" name="paso4">Agendar entrevista <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>

      <div class="alert alert-danger" id="mensaje" style="display:none"></div>
      <script type="text/javascript">
        textoMensaje='<% if (typeof mensaje!=='undefined') { %><%= mensaje %><% } %>'
      </script>

    </form>
  </div>
</div>
