@font-face {font-family: "JaapokkiRegular";
    src: url("../styles/fonts/JaapokkiRegular.eot");
    src: url("../styles/fonts/JaapokkiRegular_ot.eot") format("embedded-opentype"),
    url("../styles/fonts/JaapokkiRegular.woff2") format("woff2"),
    url("../styles/fonts/JaapokkiRegular.woff") format("woff"),
    url("../styles/fonts/JaapokkiRegular.ttf") format("truetype"),
    url("../styles/fonts/JaapokkiRegular.svg") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../styles/fonts/LatoRegular.ttf) format('truetype');
}
body {font-family: Lato;font-size: 12pt;overflow-y: visible;}

div.paso {margin:0;padding:0;width:100%;height:100%;min-height:100vh;background-color:#f6f3c4;}
div.paso #content {padding:2em 0;margin:0 auto;width:90%;}
div.paso h2 {font-family:'JaapokkiRegular',sans-serif;letter-spacing:2px;margin:0 0 1em 0;color:#BA143B;}
div.paso div.panel-heading {font-weight:bold;}
div.paso .btn-primary {margin-bottom:1em;font-weight:bold;background-color: #507a78;border-color: #5f5f60;}
div.paso .red {border-color:red;}
div.paso div.bloque {display:inline-table;}
div.paso .passepartout {padding:4px;background-color:#fff;border:1px #dddddd solid;border-radius:9px;}
div.paso img.media-object {border-radius:9px;max-width:50vw;}
div.paso a.mapa {white-space:nowrap;float:right;}
div.paso button.unicaopcion {border:0;opacity:1;cursor:auto;}

div#paso3 td {border:0;}

div#paso4 #btn-paso4 {float:right;}

div#paso5 #Fecha {margin-bottom:5px;}

div#comprobante div.form-group ul {padding-left:1em;}

p.gris {color:#888;}

div#inicio .t-align_center {text-align: center;}
div#inicio .t-title_xxl {font-size: 50pt;line-height: 1.1;}
div#inicio .t184__title {color: #fff;padding: 24px 0px 40px 0px;letter-spacing: 2px;}
div#inicio .t-title {font-family: 'JaapokkiRegular',sans-serif;font-weight: 600;color: #BA143B;}
div#inicio .t184__uptitle {position: absolute;top: 40px;left: 0px;letter-spacing: 2px;color: #BA143B;font-size: 18px;line-height: 1.54;font-weight: 300;padding-top: 50px;width: 100%;margin: 0;}
div#inicio .t-opacity_70 {filter: alpha(opacity=70);KHTMLOpacity: 0.70;MozOpacity: 0.70;opacity: 0.70;}
div#inicio .t-bkg-opacity {background: rgba(238,238,238,0.7);}
div#inicio .t-valign_middle {vertical-align: middle;}
div#inicio .t-cover__wrapper {height: 700px;display: table-cell;width: 1200px;}
div#inicio .t-cover__carrier {height: 700px;width: 100%;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-repeat: no-repeat;background-position: center center;text-align: center;vertical-align: middle;position: relative;background-attachment: fixed;}
div#inicio .t-col_12 {max-width: 1160px;}
div#inicio .t-col {display: inline;float: left;margin-left: 20px;margin-right: 20px;width: 100%;}
div#inicio .t-cover .t-container, .t-cover .t-container_100, .t-cover .t-container_10, .t-cover .t-container_8 {position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: 0;}
div#inicio .t-container {margin-left: auto;margin-right: auto;width: 100%;max-width: 1200px;padding: 0;}
div#inicio .t-cover__arrow {position: absolute;z-index: 9;bottom: 40px;right: 0;left: 0;text-align: center;}
div#inicio .t-cover__arrow-wrapper {display: inline-block;-webkit-transition: all ease-in-out 0.2s;-moz-transition: all ease-in-out 0.2s;-o-transition: all ease-in-out 0.2s;transition: all ease-in-out 0.2s;cursor: pointer;}
div#inicio .t-cover__arrow-wrapper_animated {animation: t-arrow-bottom 1.7s infinite ease;}
div#inicio .t-cover__arrow-svg {fill: #BA143B;}
div#inicio .t_linetop {border-top: 4px solid #BA143B;padding-left: 0;width: 100%;margin-top: 1px;padding-bottom:1em;}
div#inicio .seccion {background-color: #f6f3c4;padding:4em;font-size:16pt;}
div#inicio .seccion h2 {margin-top:0;font-family:'JaapokkiRegular',sans-serif;color:#BA143B;}
div#inicio .seccion h2 .subtit {font-size:80%}
div#inicio .seccion a {font-size:14pt;background-color: #507a78;border-color: #5f5f60;}
div#inicio .seccion div.row {padding-top:3em;padding-bottom:1em;}

div#encabezado {height:40px;width:100%;background-color: #eee;border-bottom:1px solid #565656;margin:0;padding:0;}
div#encabezado img {float:left;margin:0;}
div#pie {padding:3em;background-color:#2c2c2c;color:#a9a9a9;}

@keyframes t-arrow-bottom {
	0% {
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-webkit-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}
	50% {
		-moz-transform:translateY(-7px);
		-ms-transform:translateY(-7px);
		-webkit-transform:translateY(-7px);
		-o-transform:translateY(-7px);
		transform:translateY(-7px);
	}
	55% {
		-moz-transform:translateY(-7px);
		-ms-transform:translateY(-7px);
		-webkit-transform:translateY(-7px);
		-o-transform:translateY(-7px);
		transform:translateY(-7px);
	}
	100% {
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-webkit-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}
}
@media print {
  body {font-size:8pt;}
  div.paso {min-height:100%;background-color:#ffffff;}
}
